---
discord:
  TOKEN: "DISCORD Token"
  GUILD: "Discord Faction"
plot:
  objects:
    NEBULAE:
      SIZE: 12
      COLORSCALE: 'Viridis'
      OPACITY: 0.8
      DENSITY:
        X: 300
        Y: 300
        Z: 300
  margin: 
    l: 0
    r: 0
    t: 0
    b: 0
  legend: 
    show: true
  file: parse.csv
  width: 1080
  height: 720
  title: 'Draconis'
  sizeMarkers:
    PLANETOIDS: 100000
    NEBULAE: 100000
    MOONS: 50000
    ASTEROIDS: 5000
    TRADE_STATIONS: 5000
    INTERESTS_POINTS: 2500
    STRANGE_MATTER_OBSERVATORY: 2500
    ASTEROID_FIELD: 2000
    PARTROL_LOCALITIES: 30000
  typeMarkers:
    PLANETOIDS: "o"
    NEBULAE: "o"
    MOONS: "o"
    ASTEROIDS: "." 
    TRADE_STATIONS: "X"
    INTERESTS_POINTS: "p"
    STRANGE_MATTER_OBSERVATORY: "s"
    ASTEROID_FIELD: "1"
    PARTROL_LOCALITIES: "8"
  annotation:
    SIZE: 12
    COLOR: 'yellow'
  paper:
    COLOR: 'black'
  grid:
    COLOR: 
      X: 'yellow'
      Y: 'yellow'
      Z: 'yellow'     
  axis:
    COLOR: 
      X: 'purple'
      Y: 'purple'
      Z: 'purple'     
  background:
    COLOR: 
      X: 'black'
      Y: 'black'
      Z: 'black'
  sector:
    title: 
      X: 'Draconis'
      Y: 'Draconis'
      Z: 'Draconis'
    COLOR: 
      X: 'purple'
      Y: 'purple'
      Z: 'purple'

